body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  box-sizing: border-box;
  outline: none;
  a {
    color: inherit;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  .headerLeft {
    display: flex;
    align-items: center;
    .headerInfo {
      margin-left: 10px;
    }
    h3 {
      text-transform: uppercase;
      margin: 0 auto;
    }
    p {
      opacity: 0.5;
      margin: 0 auto;
    }
  }
  .headerRight {
    display: flex;
    cursor: pointer;
    span {
      margin-left: 10px;
      font-weight: bold;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      &:first-child {
        height: 18px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.content {
  padding: 40px;
  .content__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  h1 {
    margin: 0;
  }
}

.search-block {
  display: flex;
  align-items: center;
  position: relative;
  input {
    outline: none;
  }
  img:first-child {
    position: absolute;
    right: 10px;
  }
}



.cards {
  display: flex;
  flex-wrap: wrap;
}

.button {
  background: #fff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-block {
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  input {
    font-size: 16px;
    border: 0;
    padding: 13px;
    width: 200px;
  }
}





.cartEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    margin: 10px;
  }
  P {
    text-align: center;
    opacity: 0.6;
  }
}

.cartTotalBlock-wrapper {
  .cartTotalBlock {
    margin-bottom: 40px;
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
  .greenButton {
    position: relative;
    &:disabled {
      background-color: #bebebe;
      cursor: default;
    }
    &:hover {
      img {
        transform: translateX(5px);
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background: lighten(#9dd558, 5%);
  }
  &:active {
    background: darken(#9dd558, 5%);
  }
}